<a  href="javascript:void()" 
    type="button" 
    class="btn btn-danger btn-circle btn-sm"
    data-target="#delete-modal"
    data-toggle="modal">
    <i class="fas fa-trash"></i>
</a>
 <!-- Modal -->
 <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
       <div class="modal-body">
         <div class="text-center">
           <label for="name">Are you sure to Delete this ?</label>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
         <button type="submit" class="btn btn-primary">Yes</button>
       </div>
   </div>
 </div>
</div>